body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* general settings */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.social-links-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* header */
.header-divider {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-design {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;

  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover:after,
.nav-list-link:focus:after,
.nav-list-link.current::after {
  opacity: 1;
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus,
.nav-list-link.current {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero */
.hero-content {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-div-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* features */
.features-content {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-list-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

/* our team */
.our-team-content {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.our-team-list-title {
  text-align: center;
}

.our-team-list-item {
  text-align: center;
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list-item-wrapper {
  padding: 32px 0;
}

.our-team-text {
  text-align: center;
}

/* our portfolio */
.our-portfolio-content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-item {
  width: calc((100% - 48px) / 3);
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover,
.our-portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-list-item-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.our-portfolio-list-item:hover .overlay-text,
.our-portfolio-list-item:focus .overlay-text {
  transform: translatey(0%);
}

.overlay-text {
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;

  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer-wrapper {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-design {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-container-social-links {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 80px;
}

.footer-container-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-links-list {
  gap: 16px;
}

.social-link.footer-link:hover,
.social-link.footer-link:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input:hover,
.email-input:focus {
  border-color: #31d0aa;
}

.email-input::placeholder {
  color: #fff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  margin-left: 16px;
}

/* modal overlay */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button-icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button-icon,
.close-button:focus-within .close-button-icon {
  fill: #fff;
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-wrapper {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-icon-wrapper {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-color: transparent;
}

.form-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-wrapper:hover .form-input,
.input-icon-wrapper:focus-within .form-input {
  border-color: #4d5ae5;
}

.input-icon-wrapper:hover .form-icons,
.input-icon-wrapper:focus-within .form-icons {
  fill: #4d5ae5;
}

.form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.form-comment:hover,
.form-comment:focus {
  border-color: #4d5ae5;
}

.privacy-wraper {
  margin-bottom: 24px;
}

.privacy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.privacy-text-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  transition-property: border-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .privacy-text > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.submit-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}
